@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
:root {
    --azul950: #0A3047;
    --azul900: #0F4A6B;
    --azul800: #0A5A82;
    --azul700: #076A9D;
    --azul50 : #F0F9FF;
    --blanco : #FFFFFF;
    --gris: #333333;
    --coral: #FF6B6B; /*#FFA07A*/
    --separacion: 5rem;
    /*--fuente_headings: "Playfair Display", sans-serif;*/
    --fuente_principal: 'Outfit', sans-serif;
    /*--fuente_menu: "Poppins", sans-serif;*/
    --tamano_fuente: 1.6rem;
    --color_fuente: #444444;
}
*, *:before, *:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--fuente_principal);
    font-style: normal;
    font-size: var(--tamano_fuente);
    font-optical-sizing: auto;
    min-height: 100%;
    color: var(--color_fuente);    
}

h1, h2, h3 {
    font-weight: 700;
    font-style: normal;
    margin: 0 0 calc(var(--separacion) / 2) 0 ;
    color: var(--azul950);
}

h1 {
    font-size: 3.6rem;
}

h2 {
    font-size: 3.4rem;
}

h3 {
    font-size: 3.2rem;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: var(--azul900);
}
a:hover {
    color: var(--azul700);
}

.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.row {
    display: flex;
    gap: 2.5rem;
    flex-wrap: wrap;
}

.row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
}

.col {
    flex: 1 0 0%;
}

.card {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    padding: 2.5rem;
    border-radius: 1rem;
}

.boton {
    display: block;
    align-items: center;
    text-align: center;
    border-radius: .5rem;
    padding: 1.2rem 2rem;
    font-weight: 400;
    font-size: 1.5rem;
    cursor: pointer;
}

.boton-sm {
    padding: .3rem 1rem;
}

.boton-primario {
    background-color: var(--azul950);
    color: var(--azul50);
}

.boton-primario:hover {
    background-color: var(--azul900);
    color: var(--blanco);
}

.boton-secundario {
    background-color: var(--coral);
    color: var(--blanco);
}

.boton-secundario:hover {
    background-color: #E85C5C;
    color: var(--blanco);
    text-decoration: none;
}

button img {
    height: 2.4rem;
}

/*HEADER*/
.header {
    box-shadow: 1px 0 6px 1px rgba(0, 0, 0, 0.2);
}

.header__top {
    background-color: var(--azul50);
}

.header__top__contenido {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 0;
}

.header__logo {
    width: 10rem;
}

.header__info {
    display: none;
}

@media(min-width: 768px){
    .header__info {
        display: inline-block
    }
}

.header__info a {
    display: block;
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--azul800);
    font-weight: 700;
}

.header__menu-mobile {
    cursor: pointer;
}

@media(min-width: 768px){
    .header__menu-mobile {
        display: none;
    }
}

.header__nav {
    display: none;
    background-color: #005F8F;
}

@media(min-width: 768px){
    .header__nav {
        display: block;        
    }
}

.header__nav__contenido {
    display: flex;
    justify-content: space-evenly;
}

.header__nav a {
    font-weight: 600;
    font-style: normal;
    font-size: 1.8rem;
    text-decoration: none;
    padding: 2rem;
    color: var(--blanco);
    transition: all .2s ease-in-out;
    text-transform: uppercase;
}

.header__nav a:hover {
    background-color: var(--coral);
}


/*Sidebar*/
.sidebar {
    opacity: 0;
    height: 0;
    overflow: hidden;
    z-index: 6000;
    transition: opacity .5s ease-in-out;
}

@media(min-width: 768px){
    .sidebar {
        display: none;
    }
}

.sidebar__header {
    display: flex;
    justify-content: space-between;
    padding: .5rem 0;
}

.sidebar__cerrar {
    cursor: pointer;
}

.sidebar.mostrar {
    opacity: 1;
    height: 100vh;
    background-color: var(--azul);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}


.sidebar.ocultar {
    opacity: 0;
}

.sidebar__nav {
    margin-top: .5rem;
}

.sidebar__nav a {
    display: block;
    color: var(--blanco);
    padding: 0 0 1rem 2rem;
    text-transform: uppercase;
    text-decoration: none;
}

.sidebar__nav a:hover{
    color: var(--naranja);
}

/*TABLA*/
.tabla_adaptable {
    overflow-x: auto;
}

table
{
    width: 100%;
    border-collapse: collapse;
    font-size: 1.4rem;
}

table thead {
    background-color: var(--azul800);
    color: var(--blanco);
}

table th {
    padding: .5rem;
    text-align: left;
}

table tr {
    border-bottom: .1rem solid var(--color_fuente);
    &:nth-of-type(even) {
        background-color: var(--azul50);
    }
}

table td {
    padding: .5rem .5rem;
}

/*FORMULARIO*/
form {
    display: flex;
    flex-direction: column;
}

form .campo {
    margin-bottom: 1rem;
}

form label {
    display: block;
    font-weight: bold;
    color: var(--gris);
    margin: 1rem 0 0.5rem;;
}

form input:not([type="submit"]),
textarea,
select {
    width: 100%;
    padding: .5rem;
    border: none;
    border: .1rem solid var(--gris);
    border-radius: .5rem;
}

/*SERVICIOS*/
.servicios {
    margin-top: 2rem;;
}

@media(min-width: 768px){
    .servicios__contenido{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2.5rem;
    }
}

.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.servicio img {
    border: 3px solid var(--blanco);
    border-radius: 1rem;
    box-shadow: 0 0 .4rem 0 var(--gris);
    margin-bottom: 1rem;
}

.servicio__titulo {    
    text-align: center;
    font-weight: bold;
    margin-bottom: .5rem;
}

.servicio__titulo:first-letter {
    text-transform: capitalize;
}

.servicio__descripcion {
    min-height: 60px;
}

.servicio__titulo, .servicio__precio {     
    font-size: 2rem;
    font-weight: bold;    
    line-height: 1.8;
}

.servicio__precio::before {
    content: "S/ ";
}

/*PRODUCTOS*/
.productos {
    margin-top: 2rem;;
}

@media(min-width: 768px){
    .productos__contenedor{
        display: grid;
        grid-template-columns: 1fr 4fr;
        gap: 2.5rem;
    }
}

@media(min-width: 768px){
    .productos__contenido{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2.5rem;
    }
}

.producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.producto__imagen {
    border: 3px solid var(--blanco);
    border-radius: 1rem;
    box-shadow: 0 0 .4rem 0 var(--gris);
    margin-bottom: 1rem;
}

.producto__titulo {
    font-size: 1.8rem;
    margin-bottom: .5rem;
}

.producto__info {
    display: flex;
    gap: 2.5rem;
    justify-content: space-between;
    align-items: center;
    margin-top: .5rem;
}

.producto__precio {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--azul950);
}

.producto__precio::before {
    content: "S/ ";
}

.carrito {
    margin-top: 2rem;;
}

.carrito__imagen{
    width: 6.5rem;
}

.carrito__acciones{
    margin-top: 1.5rem;
    display: flex;
    justify-content: flex-end;;
}


/*FOOTER*/
.footer {
    background-color: var(--azul950);
    color: var(--azul50);
    height: 25rem;
    margin-top: 2rem;
}

.footer__contenido {
    display: flex;
    align-items: center;
}

.footer__contenido p {
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

.footer__contenido p span {
    display: block;
}